    <label for="dateField">Välj datum</label>
    <div class="input-group">
        <input id="dateField" type="text" class="form-control" datepicker-popup="{{format}}"
                ng-model="selectedDate"
                is-open="datePickerOpened" min-date="minDate" max-date="maxDate"
                datepicker-options="dateOptions" date-disabled="disableWeekends(date, mode)"
                ng-required="true"
                close-text="Close" show-button-bar="false"/>

        <div class="input-group-btn">
            <button type="button" class="btn btn-default datepicker"
                    ng-click="openDatePicker($event)"><span
                    class="glyphicon glyphicon-calendar"></span></button>
        </div>
    </div>